{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE Edge" />
    <meta
      name="viewport"
      content="width=device-device-width, initial-scale=1.0"
    />
    <title>Mario Party Invoices</title>
    <link rel="stylesheet" href="{% static "css/styling.css" %}">
  </head>
  <body>
    <header>
      <nav>
        {% if user.is_authenticated %}
        <li><a href="{% url 'home' %}">Home Page</a></li>
        <li><a href="{% url 'create_receipt' %}">Create Receipt</a></li>
        <li><a href="{% url 'create_category' %}">Create Category</a></li>
        <li><a href="{% url 'create_account' %}">Create Account</a></li>
        <li><a href="{% url 'categories_list' %}">My Categories</a></li>
        <li><a href="{% url 'accounts_list' %}">My Accounts</a></li>
        <li><a href="{% url 'logout' %}">Logout</a></li>
        <class="greeting">Hello, {{ user.username }}! {% else %}
        <li><a href="{% url 'signup' %}">Signup</a></li>
        {% endif %}
      </nav>
    </header>
    {% block content %}{% endblock content %}
    <div class="bottom-pad"></div>
    <footer class="bottom-pad">
      Mario Party Invoices is not liable for any errors.
    </footer>
  </body>
</html>
