{% extends 'base.html' %}
{% load static %}

{% block content %}
<main>
  <h1>Create a Receipt</h1>
  <form method="post">
    {% csrf_token %} {{ form.as_p }}
    <button>Create</button>
  </form>
</main>
{% endblock content %}
