{% extends 'base.html' %}
{% load static %}

{% block content %}
<main>
  <div>
  <h1>My Receipts</h1>
  </div>
  <table>
    <thead>
      <tr>
        <th>Vendor</th>
        <th>Total</th>
        <th>Tax</th>
        <th>Date</th>
        <th>Category</th>
        <th>Account</th>
      </tr>
    </thead>
    <tbody>
      {% for receipt in receipt_object.all %}
      <tr>
        <td>{{ receipt.vendor }}</td>
        <td>{{ receipt.total }}</td>
        <td>{{ receipt.tax }}</td>
        <td>{{ receipt.date | date:"n/j/y" }}</td>
        <td>{{ receipt.category.name }}</td>
        <td>{{ receipt.account.name }}</td>
        {% empty %}
        <p>There are no receipts</p>
        {% endfor %}
      </tr>
    </tbody>
  </table>
</main>
{% endblock content %}
