@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap");

.bottom-pad {
  padding-bottom: 70px;
}

footer {
  font-size: 14px;
  font-family: "Quicksand", sans-serif;
  background-color: goldenrod;
  padding: 15px 0px 15px 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.greeting {
  text-align: right;
}
